{% extends 'ProreportBundle:Default:base.html.twig' %}

{% block body %}


{# Pass user offices to Angular and filter the results by offices #}
<nav class="uk-navbar">
	<ul class="uk-navbar-nav">
		<li>
			<a href="" id="logo" ui-sref="home" data-ui-sref-opts="{reload: true}">
				<img src="{{ asset('logo.png') }}" style="height: 30px;" alt="sis.db">
			</a>
		</li>
		<li>
			<a href="" id="clients" ui-sref="clients" data-ui-sref-opts="{reload: true}">Clients</a>
		</li>
		<li>
			<a href="" id="records" ui-sref="records" data-ui-sref-opts="{reload: true}">Contracts</a>
		</li>
		{% if is_granted('ROLE_ADMIN') %}
		<li>
			<a href="" id="firms" ui-sref="firms" data-ui-sref-opts="{reload: true}">Firms</a>
		</li>
		<li>
			<a href="" id="products" ui-sref="products" data-ui-sref-opts="{reload: true}">Products</a>
		</li>
		<li>
			<a href="" id="users" ui-sref="users" data-ui-sref-opts="{reload: true}">Users</a>
		</li>
		<li>
			<a href="" id="offices" ui-sref="offices" data-ui-sref-opts="{reload: true}">Offices</a>
		</li>
		{% endif %}
	</ul>

	<ul class="uk-navbar-nav uk-navbar-flip">
		<li class="uk-active">
			<a href="logout" id="logout">Exit</a>
		</li>
	</ul>

</nav>

<div ui-view class="uk-width-medium-9-10 uk-container-center uk-block uk-block-default uk-padding-top-remove"></div>

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}