<!-- views/add_record.html -->

<article class="uk-container" ng-controller="RecordsController">
	<br />
	<div class="uk-container uk-text-right">
		<a class="uk-button uk-button-mini"
		   ui-sref="add_record"><i class="uk-icon-plus-square"></i> Add contract</a>
	</div>
	<hr>

	<form name="recordForm"
	      ng-submit="postRecord(recordForm.$valid)"
	      class="uk-form uk-form-horizontal"
	      novalidate>


		<div class="uk-width-1-1">
			<label class="uk-form-label" for="client">Client</label>
			<select name="client"
			        id="client"
			        ng-options="client as client.name for client in clients track by client.id"
			        ng-model="client"
			        class="uk-width-1-1">
				<option value="">-- Select --</option>
			</select>
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="office">Office</label>
			<select name="office"
			        id="office"
			        ng-options="office as office.name for office in offices track by office.id"
			        ng-model="office"
			        ng-class="{ 'uk-form-danger' : recordForm.office.$invalid && !recordForm.office.$pristine }"
			        class="uk-width-1-1">
				<option value="">-- Select --</option>
			</select>
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="firm">Firm</label>
			<select name="firm"
			        id="firm"
			        ng-options="firm as firm.name for firm in firms track by firm.id"
			        ng-model="firm"
			        ng-class="{ 'uk-form-danger' : recordForm.firm.$invalid && !recordForm.firm.$pristine }"
			        ng-change="changeFirm(firm.id)"
			        class="uk-width-1-1">
				<option value="">-- Select --</option>
			</select>
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="company_number">Firm's Client Number</label>
			<input type="text"
			       id="company_number"
			       name="company_number"
			       ng-class="{ 'uk-form-danger' : recordForm.company_number.$invalid && !recordForm.company_number.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="product">Product</label>
			<select name="product"
			        id="product"
			        ng-options="product as product.name for product in productsList track by product.id"
			        ng-model="product"
			        class="uk-width-1-1">
				<option value="">-- Select --</option>
			</select>
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="value">Value</label>
			<input type="text"
			       id="value"
			       name="value"
			       ng-class="{ 'uk-form-danger' : recordForm.value.$invalid && !recordForm.value.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="contract_date">Contract Date</label>
			<input type="text"
			       id="contract_date"
			       name="contract_date"
			       ng-class="{ 'uk-form-danger' : recordForm.contract_date.$invalid && !recordForm.contract_date.$pristine }"
			       data-uk-datepicker="{format:'YYYY-MM-DD'}"
			       class="uk-width-1-1">
		</div>


		<hr>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="status">Status</label>
			<select name="status"
			        id="status"
			        ng-class="{ 'uk-form-danger' : recordForm.status.$invalid && !recordForm.status.$pristine }"
			        class="uk-width-1-1">
				<option value="">-- Select --</option>
				<option data-ng-repeat="i in status"
				        value="{{ i.id }}">
					{{ i.title }}
				</option>
			</select>
		</div>



		<br>
		<div class="uk-width-1-1">
			<button type="submit"
			        id="submit_record"
			        class="uk-button uk-button-primary uk-button-large  uk-width-1-1"
			        ng-disabled="recordForm.$invalid">Add</button>
		</div>


		<div class="uk-grid">
			<div class="uk-width-1-1">
				&nbsp;
			</div>
		</div>

	</form>
</article>