<!-- views/edit_user.html -->

<article class="uk-container" ng-controller="UsersController">
	<br />
	<div class="uk-container uk-text-right">
		<a class="uk-button uk-button-mini" ui-sref="add_user"><i class="uk-icon-plus-square"></i> Add User</a>
	</div>
<hr>

	<form name="userForm" ng-submit="postUser(userForm.$valid)" class="uk-form uk-form-horizontal" novalidate>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="username">Username</label>
			<input type="text"
			       id="username"
			       name="username"
			       ng-model="username"
			       class="uk-width-1-1"
			       required>
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="email">Email</label>
			<input type="text"
			       id="email"
			       name="email"
			       ng-model="email"
			       class="uk-width-1-1"
			       required>
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="new_password">Password</label>
			<input type="password"
			       id="new_password"
			       name="new_password"
			       ng-model="password"
			       class="uk-width-1-1"
			       required>
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="confirm_password">Confirm Password</label>
			<input type="password"
			       id="confirm_password"
				       name="confirm_password"
			       ng-model="confirm_password"
			       ng-blur="checkPass()"
			       class="uk-width-1-1"
			       required>
		</div>

		<br>
		<div class="uk-width-1-1">
			<button type="submit"
			        id="submit_user"
			        class="uk-button uk-button-primary uk-button-large uk-width-1-1"
			        ng-disabled="userForm.$invalid">Add</button>
		</div>



		<div class="uk-grid">
			<div class="uk-width-1-1">
				&nbsp;
			</div>
		</div>

	</form>
</article>