<!-- views/add_product.html -->

<article class="uk-container" ng-controller="ProductsController">
	<br />
	<div class="uk-container uk-text-right">
		<a class="uk-button uk-button-mini" ui-sref="add_product"><i class="uk-icon-plus-square"></i> Add product</a>
	</div>
<hr>

	<form name="productForm" ng-submit="postProduct(productForm.$valid)" class="uk-form uk-form-horizontal" novalidate>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="name">Name</label>
			<input type="text"
			       id="name"
			       name="name"
			       ng-class="{ 'uk-form-danger' : productForm.name.$invalid && !productForm.name.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="firm">Firm</label>
			<select name="firm"
			        id="firm"
			        ng-options="firm as firm.name for firm in products.firmsList track by firm.id"
			        ng-model="firm"
			        class="uk-width-1-1">
				<option value="">-- Select --</option>
			</select>
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="details">Information</label>
				<textarea name="details"
				          id="details"
				          cols="20"
				          style="width: 100%"
				          class="uk-width-1-1"></textarea>
		</div>

		<br>
		<div class="uk-width-1-1">
			<button type="submit" id="submit_product" class="uk-button uk-button-primary uk-button-large  uk-width-1-1" ng-disabled="productForm.$invalid">Add</button>
		</div>



		<div class="uk-grid">
			<div class="uk-width-1-1">
				&nbsp;
			</div>
		</div>

	</form>
</article>