<!-- views/add_firm.html -->

<article class="uk-container" ng-controller="FirmsController">
	<br />
	<div class="uk-container uk-text-right">
		<a class="uk-button uk-button-mini" ui-sref="add_firm"><i class="uk-icon-plus-square"></i> Add firm</a>
	</div>
	<hr>

	<form name="firmForm"
	      ng-submit="postFirm(firmForm.$valid)"
	      class="uk-form uk-form-horizontal"
	      novalidate>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="name">Name</label>
			<input type="text"
			       id="name"
			       name="name"
			       ng-class="{ 'uk-form-danger' : firmForm.name.$invalid && !firmForm.name.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="manager">Manager</label>
			<input manager="text"
			       id="manager"
			       name="manager"
			       ng-class="{ 'uk-form-danger' : firmForm.manager.$invalid && !firmForm.manager.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="email">Email</label>
			<input type="text"
			       id="email"
			       name="email"
			       ng-class="{ 'uk-form-danger' : firmForm.email.$invalid && !firmForm.email.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="phone">Phone</label>
			<input type="text"
			       id="phone"
			       name="phone"
			       ng-class="{ 'uk-form-danger' : firmForm.phone.$invalid && !firmForm.phone.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="comment">Information</label>
			<textarea name="comment"
			          id="comment"
			          cols="20"
			          style="width: 100%"
			          class="uk-width-1-1"></textarea>
		</div>

		<br>
		<div class="uk-width-1-1">
			<button type="submit" id="submit_firm" class="uk-button uk-button-primary uk-button-large  uk-width-1-1" ng-disabled="firmForm.$invalid">Add</button>
		</div>

		<div class="uk-grid">
			<div class="uk-width-1-1">
				&nbsp;
			</div>
		</div>

	</form>
</article>