<!-- views/add_client.html -->

<article class="uk-container" ng-controller="ClientsController">
	<br />
	<div class="uk-container uk-text-right">
		<a class="uk-button uk-button-mini" ui-sref="add_client"><i class="uk-icon-plus-square"></i> Add client</a>
	</div>
<hr>

	<form name="clientForm"
	      ng-submit="postClient(clientForm.$valid)"
	      class="uk-form uk-form-horizontal"
	      novalidate>


		<div class="uk-width-1-1">
			<label class="uk-form-label" for="name">Name</label>
			<input type="text"
			       id="name"
			       name="name"
			       ng-class="{ 'uk-form-danger' : clientForm.name.$invalid && !clientForm.name.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="type">Type</label>
			<select name="type"
			        id="type"
			        ng-model="type"
			        ng-change="addKid()"
							class="uk-width-1-1">
				<option value="">-- Select --</option>
				<option data-ng-repeat="i in types"
				        value="{{ i.id }}">
					{{ i.title }}
				</option>
			</select>
		</div>

		<div class="uk-width-1-1" ng-show="typeFirm">
			<label class="uk-form-label" for="kid">Economical Activity Code</label>
			<select name="kid"
			        id="kid"
			        class="uk-width-1-1">
				<option value="">-- Select --</option>
				<option data-ng-repeat="i in kid"
				        value="{{ i.id }}">
					{{ i.title }}
				</option>
			</select>
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="number">Registration number</label>
			<input type="text"
			       id="number"
			       name="number"
			       ng-class="{ 'uk-form-danger' : clientForm.number.$invalid && !clientForm.number.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="email">Email</label>
			<input type="text"
			       id="email"
			       name="email"
			       ng-class="{ 'uk-form-danger' : clientForm.email.$invalid && !clientForm.email.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="phone">Phone</label>
			<input type="text"
			       id="phone"
			       name="phone"
			       ng-class="{ 'uk-form-danger' : clientForm.phone.$invalid && !clientForm.phone.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="address">Address</label>
			<input type="text"
			       id="address"
			       name="address"
			       ng-class="{ 'uk-form-danger' : clientForm.address.$invalid && !clientForm.address.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="city">City</label>
			<input type="text"
			       id="city"
			       name="city"
			       ng-class="{ 'uk-form-danger' : clientForm.city.$invalid && !clientForm.city.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="manager">Manager</label>
			<input type="text"
			       id="manager"
			       name="manager"
			       ng-class="{ 'uk-form-danger' : clientForm.manager.$invalid && !clientForm.manager.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="middleman">Middleman</label>
			<input type="text"
			       id="middleman"
			       name="middleman"
			       ng-class="{ 'uk-form-danger' : clientForm.middleman.$invalid && !clientForm.middleman.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="website">Website</label>
			<input type="text"
			       id="website"
			       name="website"
			       ng-class="{ 'uk-form-danger' : clientForm.website.$invalid && !clientForm.website.$pristine }"
			       class="uk-width-1-1">
		</div>


		<div class="uk-width-1-1">
				<label class="uk-form-label" for="information">Information</label>
				<textarea name="information"
				          id="information"
				          cols="20"
				          style="width: 100%"
				          class="uk-width-1-1"></textarea>
		</div>

		<br>
		<div class="uk-width-1-1">
			<button type="submit" id="submit_client" class="uk-button uk-button-primary uk-button-large  uk-width-1-1" ng-disabled="clientForm.$invalid">Add</button>
		</div>


		<div class="uk-grid">
			<div class="uk-width-1-1">
				&nbsp;
			</div>
		</div>

	</form>
</article>