<!-- views/systems.html -->
<article class="uk-container" ng-controller="ClientsController">
	<br>
	<div class="uk-container uk-text-right">
		<a class="uk-button uk-button-mini" ui-sref="add_client"><i class="uk-icon-plus-square"></i> Add Client</a>

		<a class="uk-button uk-button-mini" ng-click="download()"><i class="uk-icon-download"></i> Download</a>
	</div>
	<hr>


	<form class="uk-form uk-grid uk-width-1-1">


		<div class="uk-grid uk-width-1-1">
			<div class="uk-width-1-5">
					<label class="uk-form-label" for="firm">Firm</label>
					<select name="firm"
					        id="firm"
					        ng-model="selected.firm"
					        ng-change="filtering('firm', 'records')"
					        class="uk-width-1-1">
						<option value="">-- Select --</option>
						<option data-ng-repeat="i in firms"
					        value="{{ i.id }}">
						{{ i.name }}
					</option>
				</select>
			</div>

			<div class="uk-width-1-5">
				<label class="uk-form-label" for="firm">Branch</label>
				<select name="office"
				        id="office"
				        ng-model="selected.office"
				        ng-change="filtering('office', 'records')"
				        class="uk-width-1-1">
					<option value="">-- Select --</option>
					<option data-ng-repeat="i in offices"
					        value="{{ i.id }}">
						{{ i.name }}
					</option>
				</select>
			</div>

			<div class="uk-width-1-5">
				<label class="uk-form-label" for="firm">Product</label>
				<select name="product"
				        id="product"
				        ng-model="selected.product"
				        ng-change="filtering('product', 'records')"
				        class="uk-width-1-1">
					<option value="">-- Select --</option>
					<option data-ng-repeat="i in products"
					        value="{{ i.id }}">
						{{ i.name }}
					</option>
				</select>
			</div>

			<div class="uk-width-2-5">
				<label class="uk-form-label" for="searchField">Search</label>
				<input type="text"
				       id="searchField"
				       name="searchField"
				       ng-model="searchField.$"
				       placeholder="Търсене ..."
				       class="uk-width-1-1">
				</div>
		</div>

		<div class="uk-grid uk-width-1-1">
			<div class="uk-width-1-4">
				<label class="uk-form-label" for="type">Type</label>
				<select name="type"
				        id="type"
				        ng-model="selected.type"
				        ng-change="filtering('type', '')"
				        class="uk-width-1-1">
					<option value="">-- Select --</option>
					<option value="1">Person</option>
					<option value="2">Firm</option>
					<option value="3">Landlord</option>
				</select>
			</div>

			<div class="uk-width-1-4">
				<label class="uk-form-label" for="status">Status</label>
				<select name="status"
				        id="status"
				        ng-model="selected.status"
				        ng-change="filtering('status', 'records')"
				        class="uk-width-1-1">
					<option value="">-- Select --</option>

					<option value="1">Active</option>
					<option value="2">Finished</option>
					<option value="3">Irregular</option>
						<option value="4">Judicial</option>
				</select>
			</div>

			<div class="uk-width-1-4">
				<label class="uk-form-label" for="kid">Economical Code</label>
				<select name="kid"
				        id="kid"
				        ng-model="selected.kid"
				        ng-change="filtering('kid', '')"
				        class="uk-width-1-1">
					<option value="">-- Select --</option>
					<option data-ng-repeat="i in kid"
					        value="{{ i.id }}">
						{{ i.title }}
					</option>
				</select>
			</div>

			<div class="uk-width-1-4">
				<label class="uk-form-label" for="updated_at">Last Active</label>
				<input type="text"
				       id="updated_at"
				       name="updated_at"
				       ng-model="selected.updated_at"
				       ng-change="filtering('updated_at', 'records')"
				       data-uk-datepicker="{format:'YYYY-MM-DD'}"
				       class="uk-width-1-1">
			</div>

		</div>

		<div class="uk-grid">
			<div class="uk-width-1-3">
				<label class="uk-form-label">Date (From - To)</label><br />
				<input type="text"
				       id="created_at_from"
				       name="created_at_from"
				       ng-model="selected.created_at_from"
				       ng-change="filtering('created_at_from')"
				       data-uk-datepicker="{format:'YYYY-MM-DD'}"
				       class="uk-width-1-3">
				<input type="text"
				       id="created_at_to"
				       name="created_at_to"
				       ng-model="selected.created_at_to"
				       ng-change="filtering('created_at_to')"
				       data-uk-datepicker="{format:'YYYY-MM-DD'}"
				       class="uk-width-1-3">
			</div>

			<div class="uk-width-1-3">
				<label class="uk-form-label">Value (From - To)</label><br />
				<input type="text"
				       id="value_from"
				       name="value_from"
				       ng-model="selected.value_from"
				       ng-change="filtering('value_from')"
				       data-uk-datepicker="{format:'YYYY-MM-DD'}"
				       class="uk-width-1-3">
				<input type="text"
				       id="value_to"
				       name="value_to"
				       ng-model="selected.value_to"
				       ng-change="filtering('value_to')"
				       data-uk-datepicker="{format:'YYYY-MM-DD'}"
				       class="uk-width-1-3">
			</div>

			<div class="uk-width-1-3">
				<label class="uk-form-label">Age (From - To)</label><br />
				<input type="text"
				       id="age_from"
				       name="age_from"
				       ng-model="selected.age_from"
				       ng-change="filtering('age_from')"
				       data-uk-datepicker="{format:'YYYY-MM-DD'}"
				       class="uk-width-1-3">
				<input type="text"
				       id="age_to"
				       name="age_to"
				       ng-model="selected.age_to"
				       ng-change="filtering('age_to')"
				       data-uk-datepicker="{format:'YYYY-MM-DD'}"
				       class="uk-width-1-3">
			</div>
		</div>

	</form>

	<div class="uk-progress uk-progress-mini" ng-show="progress">
		<div class="uk-progress-bar" ng-style="{ 'width' : progress_indicator}"></div>
	</div>

	<div class="uk-width-1-1 uk-block uk-block-default">
	<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
	<thead>
	<tr>
	<th>
	<a ng-click="sortType = 'id'; sortReverse = !sortReverse" class="uk-link-muted uk-text-small uk-width-1-1">
	<span class="uk-float-left">ID</span>
	<span class="uk-float-right">
	<span ng-show="sortType == 'id' && !sortReverse" class="uk-icon-caret-down"></span>
	<span ng-show="sortType == 'id' && sortReverse" class="uk-icon-caret-up"></span>
	</span>
	</a>
	</th>

		<th>
		<a ng-click="sortType = 'name'; sortReverse = !sortReverse" class="uk-link-muted uk-text-small uk-width-1-1">
			<span class="uk-float-left">Name</span>
			<span class="uk-float-right">
			<span ng-show="sortType == 'name' && !sortReverse" class="uk-icon-caret-down"></span>
			<span ng-show="sortType == 'name' && sortReverse" class="uk-icon-caret-up"></span>
			</span>
		</a>
	</th>

		<th>
			<a ng-click="sortType = 'type'; sortReverse = !sortReverse" class="uk-link-muted uk-text-small uk-width-1-1">
				<span class="uk-float-left">Type</span>
				<span class="uk-float-right">
	<span ng-show="sortType == 'type' && !sortReverse" class="uk-icon-caret-down"></span>
	<span ng-show="sortType == 'type' && sortReverse" class="uk-icon-caret-up"></span>
	</span>
			</a>
		</th>
		<th>
			<a ng-click="sortType = 'number'; sortReverse = !sortReverse" class="uk-link-muted uk-text-small uk-width-1-1">
				<span class="uk-float-left">Number</span>
				<span class="uk-float-right">
	<span ng-show="sortType == 'number' && !sortReverse" class="uk-icon-caret-down"></span>
	<span ng-show="sortType == 'number' && sortReverse" class="uk-icon-caret-up"></span>
	</span>
			</a>
		</th>


		<th>
			<a ng-click="sortType = 'email'; sortReverse = !sortReverse" class="uk-link-muted uk-text-small uk-width-1-1">
				<span class="uk-float-left">Email</span>
				<span class="uk-float-right">
	<span ng-show="sortType == 'email' && !sortReverse" class="uk-icon-caret-down"></span>
	<span ng-show="sortType == 'email' && sortReverse" class="uk-icon-caret-up"></span>
	</span>
			</a>
		</th>

		<th>
			<a ng-click="sortType = 'phone'; sortReverse = !sortReverse" class="uk-link-muted uk-text-small uk-width-1-1">
				<span class="uk-float-left">Phone</span>
				<span class="uk-float-right">
	<span ng-show="sortType == 'phone' && !sortReverse" class="uk-icon-caret-down"></span>
	<span ng-show="sortType == 'phone' && sortReverse" class="uk-icon-caret-up"></span>
	</span>
			</a>
		</th>

		<th>
			<a ng-click="sortType = 'city'; sortReverse = !sortReverse" class="uk-link-muted uk-text-small uk-width-1-1">
				<span class="uk-float-left">Град</span>
				<span class="uk-float-right">
	<span ng-show="sortType == 'city' && !sortReverse" class="uk-icon-caret-down"></span>
	<span ng-show="sortType == 'city' && sortReverse" class="uk-icon-caret-up"></span>
	</span>
			</a>
		</th>

		<th>
			<a ng-click="sortType = 'middleman'; sortReverse = !sortReverse" class="uk-link-muted uk-text-small uk-width-1-1">
				<span class="uk-float-left">Посредник</span>
				<span class="uk-float-right">
	<span ng-show="sortType == 'middleman' && !sortReverse" class="uk-icon-caret-down"></span>
	<span ng-show="sortType == 'middleman' && sortReverse" class="uk-icon-caret-up"></span>
	</span>
			</a>
		</th>

		<th>
			<a ng-click="sortType = 'updated_at'; sortReverse = !sortReverse" class="uk-link-muted uk-text-small uk-width-1-1">
				<span class="uk-float-left">Последно активен</span>
				<span class="uk-float-right">
	<span ng-show="sortType == 'updated_at' && !sortReverse" class="uk-icon-caret-down"></span>
	<span ng-show="sortType == 'updated_at' && sortReverse" class="uk-icon-caret-up"></span>
	</span>
			</a>
		</th>

	<th class="uk-width-1-10"></th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="clientEntry in clients.allClients |
		orderBy:sortType:sortReverse |
		filter:searchField:strict">

		<td>{{ clientEntry.id }}</td>
		<td>{{ clientEntry.name }}</td>
		<td>{{ clientEntry.type }}</td>
		<td>{{ clientEntry.number }}</td>
		<td>{{ clientEntry.email }}</td>
		<td>{{ clientEntry.phone }}</td>
		<td>{{ clientEntry.city }}</td>
		<td>{{ clientEntry.middleman }}</td>
		<td>{{ clientEntry.updated_at | date: 'yyyy-MM-dd' }}</td>

		<td class="uk-text-right">
			<a href="" ui-sref="edit_client({id: clientEntry.id})" title="edit"><i class="uk-icon-edit"></i></a> |
			<a href="" ui-sref="view_client({id: clientEntry.id})" title="view"><i class="uk-icon-file-text"></i></a>
		</td>
	</tr>
	</tbody>
	</table>
</div>

</article>