<!-- views/edit_user.html -->

<article class="uk-container" ng-controller="UsersController">
	<br />
	<div class="uk-container uk-text-right">
		<a class="uk-button uk-button-mini" ui-sref="add_user"><i class="uk-icon-plus-square"></i> Add User</a>
	</div>
<hr>

	<form name="userForm"
	      ng-submit="putUser(userForm.$valid)"
	      class="uk-form uk-form-horizontal"
	      novalidate>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="username">Username</label>
			<input type="text"
			       id="username"
			       name="username"
			       ng-model="users.username"
			       ng-class="{ 'uk-form-danger' : userForm.username.$invalid && !userForm.username.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="email">Email</label>
			<input type="text"
			       id="email"
			       name="email"
			       ng-model="users.email"
			       ng-class="{ 'uk-form-danger' : userForm.email.$invalid && !userForm.email.$pristine }"
			       class="uk-width-1-1"
			       disabled>
		</div>
		<div class="uk-width-1-1 uk-grid">

			<div class="uk-width-1-2">
				<label class="uk-form-label" for="enabled">Активиран</label>
				<input type="checkbox"
				       id="enabled"
				       name="enabled"
				       ng-model="users.enabled">

			</div>
			<div class="uk-width-1-2">
				<label class="uk-form-label" for="roles">Администратор</label>
				<input type="checkbox"
				       id="roles"
				       name="roles"
				       ng-model="users.roles">
			</div>

		</div>

		<hr>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="new_password">Password</label>
			<input type="password"
			       id="new_password"
			       name="new_password"
			       ng-model="users.new_password"
			       ng-class="{ 'uk-form-danger' : userForm.new_password.$invalid && !userForm.new_password.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="confirm_password">Confirm Password</label>
			<input type="password"
			       id="confirm_password"
			       name="confirm_password"
			       ng-model="users.confirm_password"
			       ng-blur="checkPass()"
			       ng-class="{ 'uk-form-danger' : userForm.confirm_password.$invalid && !userForm.confirm_password.$pristine }"
			       class="uk-width-1-1">
		</div>


		<div class="uk-width-1-1 uk-grid">

			<div class="uk-width-1-2">
				<label class="uk-form-label">All Offices</label>

				<select name='all_offices'
				        size=10
				        class="uk-width-1-1">
					<option ng-repeat="g in all_offices"
					        value="g.id"
					        ng-dblclick="addOffice(this)">{{g.name}}</option>
				</select>
			</div>

			<div class="uk-width-1-2">
				<label class="uk-form-label">User's Offices</label>

				<select name='choose_office'
				        size=10
				        class="uk-width-1-1">
					<option ng-repeat="g in users.offices"
					        value="g.id"
					        ng-dblclick="removeOffice(this)">{{g.name}}</option>
				</select>
			</div>


		</div>

		<br>
		<div class="uk-width-1-1">
			<button type="submit"
			        id="submit_user"
			        class="uk-button uk-button-primary uk-button-large uk-width-1-1"
			        ng-disabled="userForm.$invalid">Edit</button>
		</div>


		<div class="uk-grid">
			<div class="uk-width-1-1">
				&nbsp;
			</div>
		</div>

	</form>
</article>