<!-- views/edit_office.html -->

<article class="uk-container" ng-controller="OfficesController">
	<br />
	<div class="uk-container uk-text-right">
		<a class="uk-button uk-button-mini" ui-sref="add_office"><i class="uk-icon-plus-square"></i> Add office</a>
	</div>
<hr>

	<form name="officeForm" ng-submit="putOffice(officeForm.$valid)" class="uk-form uk-form-horizontal" novalidate>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="name">Name</label>
			<input type="text"
			       id="name"
			       name="name"
			       ng-model="offices.offices.name"
			       class="uk-width-1-1"
			       required>
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="manager">Manager</label>
			<input type="text"
			       id="manager"
			       name="manager"
			       ng-model="offices.offices.manager"
			       class="uk-width-1-1"
			       required>
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="location">Location</label>
			<input type="text"
			       id="location"
			       name="location"
			       ng-model="offices.offices.location"
			       class="uk-width-1-1"
			       required>
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="email">Email</label>
			<input type="text"
			       id="email"
			       name="email"
			       ng-model="offices.offices.email"
			       class="uk-width-1-1"
			       required>
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="phone">Phone</label>
			<input type="text"
			       id="phone"
			       name="phone"
			       ng-model="offices.offices.phone"
			       class="uk-width-1-1"
			       required>
		</div>


		<div class="uk-width-1-1">
			<label class="uk-form-label" for="comment">Information</label>
			<textarea name="comment"
			          id="comment"
			          cols="20"
			          style="width: 100%"
			          class="uk-width-1-1"
			          required>{{ offices.offices.comment }}</textarea>

		<br>
			<br>
		<div class="uk-width-1-1">
			<button type="submit"
			        id="submit_office"
			        class="uk-button uk-button-primary uk-button-large uk-width-1-1"
			        ng-disabled="officeForm.$invalid">Edit</button>
		</div>



		<div class="uk-grid">
			<div class="uk-width-1-1">
				&nbsp;
			</div>
		</div>

	</form>
</article>