<!-- views/edit_record.html -->

<article class="uk-container" ng-controller="RecordsController">
	<br />
	<div class="uk-container uk-text-right">
		<a class="uk-button uk-button-mini"
		   ui-sref="add_record"><i class="uk-icon-plus-square"></i> Add contract</a>
	</div>
	<hr>

	<form name="recordForm"
	      ng-submit="putRecord(recordForm.$valid, records.record.id)"
	      class="uk-form uk-form-horizontal"
	      novalidate>


		<div class="uk-width-1-1">
			<label class="uk-form-label" for="client">Client</label>
			<select name="client"
			        id="client"
			        ng-model="records.record.client.id"
			        class="uk-width-1-1">
				<option value="">-- Select --</option>
				<option data-ng-repeat="i in clients"
				        value="{{ i.id }}"
				        ng-selected="i.id === records.record.client.id">
					{{ i.name }}
				</option>
			</select>
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="office">Office</label>
			<select name="office"
			        id="office"
			        ng-model="records.record.office"
			        class="uk-width-1-1">
				<option value="">-- Select --</option>
				<option data-ng-repeat="i in offices"
				        value="{{ i.id }}"
				        ng-selected="i.id === records.record.office">
					{{ i.name }}
				</option>
			</select>
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="office">Firm</label>
			<select name="firm"
			        id="firm"
			        ng-model="records.record.firm"
			        class="uk-width-1-1">
				<option value="">-- Select --</option>
				<option data-ng-repeat="i in firms"
				        value="{{ i.id }}"
				        ng-selected="i.id === records.record.firm">
					{{ i.name }}
				</option>
			</select>
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="company_number">Firm's Client Number</label>
			<input type="text"
			       id="company_number"
			       name="company_number"
			       ng-model="records.record.company_number"
			       ng-class="{ 'uk-form-danger' : recordForm.company_number.$invalid && !recordForm.company_number.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="office">Product</label>
			<select name="product"
			        id="product"
			        ng-model="records.record.product"
			        class="uk-width-1-1">
				<option value="">-- Select --</option>
				<option data-ng-repeat="i in products"
				        value="{{ i.id }}"
				        ng-selected="i.id === records.record.product">
					{{ i.name }}
				</option>
			</select>
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="value">Value</label>
			<input type="text"
			       id="value"
			       name="value"
			       ng-model="records.record.value"
			       ng-class="{ 'uk-form-danger' : recordForm.value.$invalid && !recordForm.value.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="contract_date">Contract Date</label>
			<input type="text"
			       id="contract_date"
			       name="contract_date"
			       ng-model="records.record.contract_date"
			       ng-class="{ 'uk-form-danger' : recordForm.contract_date.$invalid && !recordForm.contract_date.$pristine }"
			       data-uk-datepicker="{format:'YYYY-MM-DD'}"
			       class="uk-width-1-1">
		</div>


		<hr>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="status">Status</label>
			<select name="status"
			        id="status"
			        ng-model="records.record.status"
			        class="uk-width-1-1">
				<option value="">-- Select --</option>
				<option data-ng-repeat="i in status"
				        value="{{ i.id }}"
				        ng-selected="i.id == records.record.status">
					{{ i.title }}
				</option>
			</select>
		</div>

		</div>

		<br>
		<div class="uk-width-1-1">
			<button type="submit"
			        id="submit_record"
			        class="uk-button uk-button-primary uk-button-large uk-width-1-1"
			        ng-disabled="recordForm.$invalid">Edit</button>
		</div>


		<div class="uk-grid">
			<div class="uk-width-1-1">
				&nbsp;
			</div>
		</div>

	</form>
</article>