<!-- views/edit_client.html -->

<article class="uk-container" ng-controller="ClientsController">
	<br />
	<div class="uk-container uk-text-right">
		<a class="uk-button uk-button-mini" ui-sref="add_client"><i class="uk-icon-plus-square"></i> Add Client</a>
	</div>
	<hr>

	<form name="clientForm"
	      ng-submit="putClient(clientForm.$valid, clients.client.id)"
	      class="uk-form uk-form-horizontal"
	      novalidate>


		<div class="uk-width-1-1">
			<label class="uk-form-label" for="name">Name</label>
			<input type="text"
			       id="name"
			       name="name"
			       ng-model="clients.client.name"
			       ng-class="{ 'uk-form-danger' : clientForm.name.$invalid && !clientForm.name.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="type">Type</label>
			<select name="type"
			        id="type"
			        ng-model="clients.client.type"
			        class="uk-width-1-1">
				<option value="">-- Select --</option>
				<option data-ng-repeat="i in types"
				        value="{{ i.id }}"
				        ng-selected="i.id == clients.client.type">
					{{ i.title }}
				</option>
			</select>
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="kid">Economical Activity Code</label>
			<select name="kid"
			        id="kid"
			        ng-model="clients.client.kid"
			        class="uk-width-1-1">
				<option value="">-- Select --</option>
				<option data-ng-repeat="i in kid"
				        value="{{ i.id }}"
				        ng-selected="i.id == clients.client.kid">
					{{ i.title }}
				</option>
			</select>
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="number">Registration number</label>
			<input type="text"
			       id="number"
			       name="number"
			       ng-model="clients.client.number"
			       ng-class="{ 'uk-form-danger' : clientForm.number.$invalid && !clientForm.number.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="email">Еmail</label>
			<input type="text"
			       id="email"
			       name="email"
			       ng-model="clients.client.email"
			       ng-class="{ 'uk-form-danger' : clientForm.email.$invalid && !clientForm.email.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="phone">Phone</label>
			<input type="text"
			       id="phone"
			       name="phone"
			       ng-model="clients.client.phone"
			       ng-class="{ 'uk-form-danger' : clientForm.phone.$invalid && !clientForm.phone.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="address">Address</label>
			<input type="text"
			       id="address"
			       name="address"
			       ng-model="clients.client.address"
			       ng-class="{ 'uk-form-danger' : clientForm.address.$invalid && !clientForm.address.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="city">City</label>
			<input type="text"
			       id="city"
			       name="city"
			       ng-model="clients.client.city"
			       ng-class="{ 'uk-form-danger' : clientForm.city.$invalid && !clientForm.city.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="manager">Manager</label>
			<input type="text"
			       id="manager"
			       name="manager"
			       ng-model="clients.client.manager"
			       ng-class="{ 'uk-form-danger' : clientForm.manager.$invalid && !clientForm.manager.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="middleman">Middleman</label>
			<input type="text"
			       id="middleman"
			       name="middleman"
			       ng-model="clients.client.middleman"
			       ng-class="{ 'uk-form-danger' : clientForm.middleman.$invalid && !clientForm.middleman.$pristine }"
			       class="uk-width-1-1">
		</div>

		<div class="uk-width-1-1">
			<label class="uk-form-label" for="website">Website</label>
			<input type="text"
			       id="website"
			       name="website"
			       ng-model="clients.client.website"
			       ng-class="{ 'uk-form-danger' : clientForm.website.$invalid && !clientForm.website.$pristine }"
			       class="uk-width-1-1">
		</div>


		<div class="uk-width-1-1">
			<label class="uk-form-label" for="information">Information</label>
			<textarea name="information"
			          id="information"
			          cols="20"
			          style="width: 100%"
			          ng-model="clients.client.information"
			          class="uk-width-1-1">{{ clients.client.information }}</textarea>
		</div>

		<br>
		<div class="uk-width-1-1">
			<button type="submit"
			        id="submit_client"
			        class="uk-button uk-button-primary uk-button-large uk-width-1-1"
			        ng-disabled="clientForm.$invalid">Add</button>
		</div>


		<div class="uk-grid">
			<div class="uk-width-1-1">
				&nbsp;
			</div>
		</div>

	</form>

	<article class="uk-container" ng-controller="CommentsController">
		<div class="uk-grid">
			<div class="uk-width-1-1">
				<fieldset>
					<legend class="uk-text-bold">Comments</legend>

					<article class="uk-comment uk-alert" ng-repeat="comment in comments">
						<header class="uk-comment-header">
							<h3 class="uk-comment-title">{{ comment.client_id }}</h3>
							<div class="uk-comment-meta">{{ comment.created_at | date: 'yyyy-MM-dd hh:mm' }}</div>
						</header>
						<div class="uk-comment-body uk-text-justify">{{ comment.comment }}</div>
					</article>


					<form name="newMessageForm" ng-submit="postComment()" novalidate>

						<textarea name="message"
						          id="message"
						          cols="140"
						          rows="5"
						          class="uk-width-1-1"></textarea>

						<button id="post_message"
						        class="uk-button uk-button-primary">Add Comment</button>
					</form>
				</fieldset>
			</div>
		</div>
		<div class="uk-grid">
			<div class="uk-width-1-1">
			</div>
		</div>
	</article>

</article>

