<!-- views/offices.html -->
<article class="uk-container" ng-controller="OfficesController">
	<br>
	<div class="uk-container uk-text-right">
		<a class="uk-button uk-button-mini" ui-sref="add_office"><i class="uk-icon-plus-square"></i> Add Office</a>
	</div>
	<hr>

	<div class="uk-width-1-1">
	<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
	<thead>
	<tr>
	<th>
	<a ng-click="sortType = 'id'; sortReverse = !sortReverse" class="uk-link-muted uk-text-small uk-width-1-1">
	<span class="uk-float-left">ID</span>
	<span class="uk-float-right">
	<span ng-show="sortType == 'id' && !sortReverse" class="uk-icon-caret-down"></span>
	<span ng-show="sortType == 'id' && sortReverse" class="uk-icon-caret-up"></span>
	</span>
	</a>
	</th>

		<th>
		<a ng-click="sortType = 'name'; sortReverse = !sortReverse" class="uk-link-muted uk-text-small uk-width-1-1">
			<span class="uk-float-left">Office</span>
			<span class="uk-float-right">
			<span ng-show="sortType == 'name' && !sortReverse" class="uk-icon-caret-down"></span>
			<span ng-show="sortType == 'name' && sortReverse" class="uk-icon-caret-up"></span>
			</span>
		</a>
	</th>


	<th class="uk-width-1-10"></th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="officeEntry in offices.offices |
		orderBy:sortType:sortReverse">

		<td>{{ officeEntry.id }}</td>
		<td>{{ officeEntry.name }}</td>

		<td class="uk-text-right">
			<a href="" ui-sref="edit_office({id: officeEntry.id})" title="edit"><i class="uk-icon-edit"></i></a>
		</td>
	</tr>
	</tbody>
	</table>
</div>

</article>