<!-- views/products.html -->
<article class="uk-container" ng-controller="ProductsController">
	<br>
	<div class="uk-container uk-text-right">
		<a class="uk-button uk-button-mini" ui-sref="add_product"><i class="uk-icon-plus-square"></i> Add Product</a>
	</div>
<hr>

	<div class="uk-width-1-1">
<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
	<thead>
	<tr>
		<th>
			<a ng-click="sortType = 'id'; sortReverse = !sortReverse" class="uk-link-muted uk-text-small uk-width-1-1">
				<span class="uk-float-left">ID</span>
					<span class="uk-float-right">
						<span ng-show="sortType == 'id' && !sortReverse" class="uk-icon-caret-down"></span>
						<span ng-show="sortType == 'id' && sortReverse" class="uk-icon-caret-up"></span>
					</span>
			</a>
		</th>
		<th>
			<a ng-click="sortType = 'name'; sortReverse = !sortReverse" class="uk-link-muted uk-text-small uk-width-1-1">
				<span class="uk-float-left">Product</span>
					<span class="uk-float-right">
						<span ng-show="sortType == 'name' && !sortReverse" class="uk-icon-caret-down"></span>
						<span ng-show="sortType == 'name' && sortReverse" class="uk-icon-caret-up"></span>
					</span>
			</a>
		</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="productEntry in products.productsList | orderBy:sortType:sortReverse | filter:searchField:strict" ui-sref="edit_product({id: productEntry.id})">
		<td>{{ productEntry.id }}</td>
		<td>{{ productEntry.name }}</td>
	</tr>
	</tbody>
</table>
	</div>

</article>