<!-- views/records.html -->
<article class="uk-container" ng-controller="RecordsController">
	<br>
	<div class="uk-container uk-text-right">
		<a class="uk-button uk-button-mini" ui-sref="add_record"><i class="uk-icon-plus-square"></i> Add Contract</a>
	</div>
	<hr>

	<div class="uk-width-1-1">
	<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
	<thead>
		<tr>
		<th>
		<a ng-click="sortType = 'id'; sortReverse = !sortReverse" class="uk-link-muted uk-text-small uk-width-1-1">
		<span class="uk-float-left">ID</span>
		<span class="uk-float-right">
		<span ng-show="sortType == 'id' && !sortReverse" class="uk-icon-caret-down"></span>
		<span ng-show="sortType == 'id' && sortReverse" class="uk-icon-caret-up"></span>
		</span>
		</a>
		</th>
		<th>
		<a ng-click="sortType = 'product'; sortReverse = !sortReverse" class="uk-link-muted uk-text-small uk-width-1-1">
		<span class="uk-float-left">Contract</span>
		<span class="uk-float-right">
		<span ng-show="sortType == 'product' && !sortReverse" class="uk-icon-caret-down"></span>
		<span ng-show="sortType == 'product' && sortReverse" class="uk-icon-caret-up"></span>
		</span>
		</a>
		</th>
		<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="recordEntry in records.recordsList | orderBy:sortType:sortReverse | filter:searchField:strict">
			<td>{{ recordEntry.id }}</td>
			<td>{{ products[recordEntry.product].name  }}</td>
			<td class="uk-text-right">
				<a href="" ui-sref="edit_record({id: recordEntry.id})" title="edit"><i class="uk-icon-edit"></i></a> |
				<a href="" ui-sref="view_record({id: recordEntry.id})" title="view"><i class="uk-icon-file-text"></i></a>

			</td>
		</tr>
	</tbody>
	</table>
</div>

</article>