<!-- views/users.html -->
<article class="uk-container" ng-controller="UsersController">
	<br>
	<div class="uk-container uk-text-right">
		<a class="uk-button uk-button-mini" ui-sref="add_user"><i class="uk-icon-plus-square"></i> Add User</a>
	</div>
	<hr>

	<div class="uk-width-1-1">
	<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
	<thead>
	<tr>
	<th>
	<a ng-click="sortType = 'id'; sortReverse = !sortReverse" class="uk-link-muted uk-text-small uk-width-1-1">
	<span class="uk-float-left">ID</span>
	<span class="uk-float-right">
	<span ng-show="sortType == 'id' && !sortReverse" class="uk-icon-caret-down"></span>
	<span ng-show="sortType == 'id' && sortReverse" class="uk-icon-caret-up"></span>
	</span>
	</a>
	</th>

		<th>
		<a ng-click="sortType = 'username'; sortReverse = !sortReverse" class="uk-link-muted uk-text-small uk-width-1-1">
			<span class="uk-float-left">User</span>
			<span class="uk-float-right">
			<span ng-show="sortType == 'username' && !sortReverse" class="uk-icon-caret-down"></span>
			<span ng-show="sortType == 'username' && sortReverse" class="uk-icon-caret-up"></span>
			</span>
		</a>
	</th>

		<th>
			<a ng-click="sortType = 'email'; sortReverse = !sortReverse" class="uk-link-muted uk-text-small uk-width-1-1">
				<span class="uk-float-left">Email</span>
				<span class="uk-float-right">
	<span ng-show="sortType == 'email' && !sortReverse" class="uk-icon-caret-down"></span>
	<span ng-show="sortType == 'email' && sortReverse" class="uk-icon-caret-up"></span>
	</span>
			</a>
		</th>

	<th class="uk-width-1-10"></th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="userEntry in users">

		<td>{{ userEntry.id }}</td>
		<td>{{ userEntry.username }}</td>

		<td>{{ userEntry.email }}</td>

		<td class="uk-text-right">
			<a href="" ui-sref="edit_user({id: userEntry.id})" title="edit"><i class="uk-icon-edit"></i></a>
		</td>
	</tr>
	</tbody>
	</table>
</div>

</article>