<!-- views/view_client.html -->

<article class="uk-container" ng-controller="ClientsController">
	<br />
	<div class="uk-container uk-text-right">
		<a class="uk-button uk-button-mini" ui-sref="add_client"><i class="uk-icon-plus-square"></i> Add Client</a>
	</div>
	<hr>

		<div class="uk-width-1-1">
			Name: {{ clients.client.name }}
		</div>

		<div class="uk-width-1-1">
			Type: {{ clients.client.type }}
		</div>

		<div class="uk-width-1-1">
			Number: {{ clients.client.number }}
		</div>

		<div class="uk-width-1-1">
			Email: {{ clients.client.email }}
		</div>

		<div class="uk-width-1-1">
			Phone: {{ clients.client.phone }}
		</div>

		<div class="uk-width-1-1">
			Address: {{ clients.client.address }}
		</div>

		<div class="uk-width-1-1">
			City: {{ clients.client.city }}
		</div>

		<div class="uk-width-1-1">
			Manager: {{ clients.client.manager }}
		</div>

		<div class="uk-width-1-1">
			Middleman: {{ clients.client.middleman }}
		</div>

		<div class="uk-width-1-1">
			Website: {{ clients.client.website }}
		</div>


		<div class="uk-width-1-1">
			Comments<br />
			{{ clients.client.comment }}
		</div>

	<hr>

	<div class="uk-width-1-1"
	     ng-repeat="record in clients.client.records"
	     ui-sref="view_record({id: record.id})">

			id: {{ record.id }} |
			office: {{ record.office }} |
			firm: {{ record.firm }} |
			product: {{ record.product }} |
			value: {{ record.value }} |
			company_number: {{ record.company_number }} |
			status: {{ record.status }} |
			created_at: {{ record.created_at | date: 'dd-MM-yyyy hh:mm'}} |
			updated_at: {{ record.updated_at | date: 'dd-MM-yyyy hh:mm' }} |
			contract_date: {{ record.contract_date | date: 'dd-MM-yyyy hh:mm' }}

	</div>



		<div class="uk-grid">
			<div class="uk-width-1-1">
				&nbsp;
			</div>
		</div>

	</form>
</article>