<!-- views/view_record.html -->

<article class="uk-container" ng-controller="RecordsController">
	<br />
	<div class="uk-container uk-text-right">
		<a class="uk-button uk-button-mini" ui-sref="add_record"><i class="uk-icon-plus-square"></i> Add Contract</a>
	</div>
	<hr>

		<div class="uk-width-1-1">
			Client: {{ records.record.client.name }}
		</div>

		<div class="uk-width-1-1">
			Office: {{ records.record.office }}
		</div>

		<div class="uk-width-1-1">
			Fiem: {{ records.record.firm }}
		</div>

		<div class="uk-width-1-1">
			Product: {{ records.record.product }}
		</div>

		<div class="uk-width-1-1">
			Value: {{ records.record.value }}
		</div>

		<div class="uk-width-1-1">
			Company Internal Number: {{ records.record.company_number }}
		</div>

		<div class="uk-width-1-1">
			Status: {{records.record.status}}
		</div>


		<div class="uk-grid">
			<div class="uk-width-1-1">
				&nbsp;
			</div>
		</div>

	</form>
</article>